<template>
    <div>
        <h2>hello world</h2>
        {{message}}
    </div>
</template>
<script>
define(['Vue'], function(Vue) {
    return new Vue ({
        template : template,
        // IE에서는 아래와 같은 형식으로 처리 해야 한다.
        data : function(){
           return { message : "Hello2" }
        }
    });
});
</script>