<template>
    <div>
        <h2>Lesson32-sub</h2>
    </div>
</template>
<script>
define(['Vue'], function(Vue) {
    return Vue.component('sub', { 
        template : template
    });
});
</script>