<template>
    <div>
        <h2>hello  22222 world</h2>
        {{message}}
        <div id="sub"></div>
    </div>
</template>
<script>
define(['Vue', 'vue'], function(Vue, vue) {

    return new Vue ({
        template : template,
        components: {
        },
        mounted()  {
            requirejs(['vue!app/examples/chapter3/lesson32/lesson32sub'], function(sub) {
                sub.$mount("#sub");
            })
        },
        // IE에서는 아래와 같은 형식으로 처리 해야 한다.
        data : function(){
           return { message : "Hello2" }
        }
     });
});
</script>